body {
    background: #139CCE;
    color: #FFF;
    font-family: 'Droid Sans';
    max-width: 800px;
    margin: auto auto 50px auto;
}
h1 {
  font-family: 'Qwigley';
  font-size: 6em;
  margin: 0.1em 0 0.3em 0;
  border-bottom:solid  white;
}

h2 {
    font-family: 'Ubuntu';
    text-shadow: 1px 1px #d3d3d3;
}

h2, h3, h4, h5, h6 {
    margin: 1.5em 0 0.75em;
}

a {
    color: #FFF;
}

.map {
    margin: 10px 0;
}

#signup {
	float: right;
	border: 1px solid white;
	padding: 15px;
    max-width: 450px;
    margin: 0 0 2em 2em;
}

#signup h2 {
	background: white;
	color: #139CCE;
	margin: -15px -15px 0;
	padding: 5px;
	text-align: center;
}

#signup label {
    display: block;
    margin: 0.5em 0 0.25em;
}
