body {
    background: #139CCE;
    color: #FFF;
    font-family: 'Droid Sans';
    max-width: 800px;
    margin: auto auto 50px auto;
}

h1, h2 {
    font-family: 'Ubuntu';
    text-shadow: 1px 1px #d3d3d3;
}

h1 {
    font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0 0.75em;
}

a {
    color: #FFF;
}

.map {
    margin: 10px 0;
}

#p책melding {
	float:right;
	border:1px solid white;
	padding: 0 0 20px 0;
	max-width:450px;
}
	
#p책melding h2 {
	background:white;
	color:#139CCE;
	margin:0;
	padding:5px;
	text-align:center;
}
#p책melding.div,
#p책melding.form {
	margin:10px;
}
